PORT=8080
DB_HOST=localhost
DB_USER=kda_user
DB_PASSWORD=kda_password
DB_NAME=kda_auth_db
DB_PORT=5432
REDIS_HOST=localhost:6379
REDIS_PASSWORD=
JWT_SECRET=e95f314e-74c6-4dfb-9597-c99cb1b14bf0
JWT_EXPIRATION_HOURS=24
GOOGLE_CLIENT_ID=153952579651-pmabv12sgetk88s9mal0fg6a3eg43ve6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_REDIRECT_URL=localhost:8080/api/v1/auth/google/callback